
body {
    background-color: #0038A8;
    padding: 1em;
}

.header {
    display: grid;
    justify-items: center;
}

header h1, section h2 {
    text-align: center;
    font-family: 'Graduate', cursive;
    color: #FFB819;
    /* color: #F74902; */
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1em;
}

.main img {
    width: 80%;
    border-radius: 1.5em;
}

.refresh-note {
    display: grid;
    justify-items: center;
}